<div class="pb-8">
	<div class="flex justify-between items-baseline container">
    <a class="font-semibold dark:text-gray-100">sec.x32.gen.in</a><a href="https://x32.gen.in" class="font-semibold text-indigo-700 dark:text-indigo-400">x32.gen.in/portal</a>
	</div>
</div>
